---
layout: page
title: API Monitoring
---
<p style="font-size: 12px; padding:5px;">
  <img src="{{ site.project_image }}" align="right" width="75" style="padding:10px;" />
  {{ site.project_summary }}
</p>

<center><hr style="padding: 5px 5px 5px 5px; margin: 5px; width: 85%;" /></center>
<div class="row" style="vertical-align: top;" align="center">

  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">

    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Top Links</strong></p>
    <ul class="featurelist">
      <li><a href="http://apis.how/h1h2mnxnc4">API Science</a></li>
      <li><a href="http://apis.how/cmv73tines">API Changelog</a></li>
      <li><a href="http://apis.how/8nlsropidv">Runscope</a></li>
      <li><a href="http://apis.how/ldgyufdnsn">API Metrics</a></li>
      <li><a href="http://apis.how/vgtopyxy3v">Amazon CloudWatch</a></li>
    </ul>

  </div>
  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">
    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Latest News</strong><a href="/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="15" style="padding-left: 5px;" /></a></p>
    <ul class="newslist">
      {% assign totalpost = 4 %}
      {% assign countpost = 1 %}
      {% for post in site.posts limit:50 %}
        {% if post.title != null %}
          {% if countpost < totalpost %}
            <li><a href="{{ post.source }}">{{ post.title }}</a></li>
          {% assign countpost = countpost | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

  </div>
  <div class="span3" align="left" style="float: none; margin: 0 auto; display: inline-block; height: 100%; vertical-align: top;">

    <script type="text/javascript">
      $url = 'http://apievangelist.com/blog.xml';
      var $listcount = 0;
      $.get($url, function (data) {
          $(data).find("item").each(function () {
              var el = $(this);
              $title = el.find("title").text();
              $link = el.find("link").text();
              if($listcount<2){
                $listitem = '<li><a href="' + $link + '">' + $title + '</a></li>';
                $('#rssNews').append($listitem);
                }
              $listcount++;
          });
      });
    </script>
    <p><strong><span style="font-size: 20px;">&#8620;</span>&nbsp;&nbsp;Latest Analysis</strong><a href="http://apievangelist.com/blog.xml"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="15" style="padding-left: 5px;" /></a></p>
    <ul class="newslist" id="rssNews"></ul>

  </div>
</div>
<center><hr style="padding: 5px; margin: 5px; width: 85%;" /></center>

<div class="row" align="center" style="">

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="left">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="#" onclick="alert('Coming Soon!'); return false;"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-101.jpg" width="45" style="padding-right: 5px;" /><strong>&nbsp;&nbsp;Learn The Basics From This Research</strong></a></li>
    </ul>

  </div>

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="right">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://management.apievangelist.com"><strong>Visit My Research On API Management&nbsp;&nbsp;<span style="font-size: 20px;">&#8667;</span></strong></a></li>
    </ul>

  </div>

</div>
<div class="row" align="center" style="">

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="left">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="/journey/">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-journey.png" width="25" style="padding-right: 5px;" /><strong>&nbsp;&nbsp;&nbsp;Take a Journey Through Research</strong></a></li>
    </ul>

  </div>

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="right">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://testing.apievangelist.com"><strong>Visit My Research On API Testing&nbsp;&nbsp;<span style="font-size: 20px;">&#8667;</span></strong></a></li>
    </ul>

  </div>

</div>
<div class="row" align="center" style="">

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="left">

    <!--
    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://bit.ly/1JZBO9f">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-pdf.png" width="22" style="padding-right: 5px;" /><strong>&nbsp;&nbsp;&nbsp;&nbsp;View the PDF of This Research</strong></a></li>
    </ul>
    -->

  </div>

  <div class="span5" style="float: none; margin: 0 auto; display: inline-block;" align="right">

    <ul class="newslist" style="list-style: none; font-size: 14px; padding: 0px; margin: 0px;">
      <li><a href="http://performance.apievangelist.com"><strong>Visit My Research On API Performance&nbsp;&nbsp;<span style="font-size: 20px;">&#8667;</span></strong></a></li>
    </ul>

  </div>

</div>
