    <!-- About Section -->
    <section id="about" class="container content-section about-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>An actor driven ensemble based in NYC</h2>
                <p>Born in the space between formal acting training and established careers, Battalion recognizes and revels in the wealth of talent to be found in emerging artists. Our founders believe in utilizing the full scope and diversity of interests and skills to produce lively, joyful, significant evenings of theater, consciously growing with each production.

                With varying backgrounds in classical, modern, and experimental theater Battalion serves as an incredibly flexible vehicle for expression, simultaneously celebrating its strengths and offering the challenge of something new.
                </p>

                <h3>OUR FOUNDERS</h3>
                <div class="bio">
                  <img src="/img/kullan.png" alt="Kullan Edberg">
                  <h3 class="bio-header">KULLAN EDBERG</h3>
                  <p class="bio-text">Kullan Edberg is a Midwestern transplant now working in NYC as an actor, writer, and teacher. She has trained with Stella Adler Studio through NYU's Tisch School of the Arts (BFA in Drama), Indiana Repertory Theatre, and Broadway Theatre Project. Favorite credits include Betsy/Lindsay in Clybourne Park (Hangar Theatre), Roxanne in The Understudy (The Kraine Theatre), and William Wallace in Brave Heart (BTP). </p>
                </div>

                <div class="bio">
                  <img src="/img/dan.png" alt="Dan Gonon">
                  <h3 class="bio-header">DAN GONON</h3>
                  <p class="bio-text">Dan Gonon is a graduate from Brown University where he received a BA in Theatre Arts. His one-man show TRAMP(ED), in which he played Charlie Chaplin, was selected for the 2012 United Solo Theatre Festival at Off Broadway’s Theatre Row. Other credits include: Maycomb/Kurt in Unhealthy (Kraine Theatre/Battalion Theatre), Evan in Ecology of a Visit (The Producers’ Club/Corkscrew Theatre), and Bobby Gould in Speed-The-Plow (The Rep Project/Brown University).
                    <br>
                    <a href="http://www.dangonon.com" class="social">www.dangonon.com</a>
                    <br>
                    <a href="https://twitter.com/dan_gonon" class="social">@dan_gonon</a>
                    <br>
                    <a href="https://www.instagram.com/dgonon" class="social">dgonon</a>
                  </p>
                </div>

                <div class="bio">
                  <img src="/img/gerrit.png" alt="Gerrit Thurston">
                  <h3 class="bio-header">GERRIT THURSTON</h3>
                  <p class="bio-text">Gerrit Thurston is a Brooklyn NYC based actor. He has trained at Brown University’s Reperatory Theatre, Eugene O’neill National Theatre Institute, and Williamstown Theatre Festival. Stage credits include Straight White Men (developed with and directed by Young Jean Lee), Speed-The-Plow (The Rep Project, directed by Skylar Fox), and The Kiss of the Spiderwoman (Brown University, directed by Marcus Gardley).
                    <br>
                    <a href="http://gerritthurston.com" class="social">gerritthurston.com</a>
                  </p>
                </div>

                <div class="bio">
                  <img src="/img/hannah.png" alt="Hannah Kloepfer">
                  <h3 class="bio-header">HANNAH KLOEPFER</h3>
                  <p class="bio-text">Hannah Kloepfer is an NYC-based actor, writer, and model. She has been seen recently in concert with Drew Gasparini, The Write Teachers, Actor Therapy, and in various cabarets at venues including 54 Below and Don’t Tell Mama; in the Off-Broadway production of The Greatest Pirate Story (N)Ever Told; and in several short films. A graduate of Columbia University, Hannah has studied at HB Studio with Austin Pendleton, at Atlantic Acting School, and in Actor Therapy under the tutelage of Ryan Scott Oliver and Lindsay Mendez. She models with MSA Models and is the co-creator and writer of the ongoing concert series, Swipe Right/Swipe Left.
                    <br>
                    <a href="http://www.hannahkloepfer.com" class="social">www.hannahkloepfer.com</a>
                    <br>
                    <a href="https://twitter.com/hannahkloepfer" class="social">@hannahkloepfer</a>
                    <br>
                    <a href="https://www.instagram.com/hannahkloepfer" class="social">hannahkloepfer</a>
                  </p>
                </div>
            </div>
        </div>
    </section>
