<!-- Featured Section -->
   <section id="featured" class="container content-section productions-section text-center">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <div id="current-productions-title">
           <img src="/img/cluedunnit.jpg" alt="CLUEdunnit">
         </div>

         <div id="current-productions-more-info">
           <h2>Cybsecurity</h2>
           <p>An online global production.</p>
           <br>
           <h4>Daily</h4>
           <br>
           <p>Internet</p>
            <br>
            <h3>TICKETS: There is no escaping--attendance is mandatory.</h3>
           <a href="#" onclick="Your computer was hacked, and they were placed on your desktop!" id="tickets-button" class="btn btn-lg">Get Your Ticket</a>
         </div>
       </div>
     </div>
   </section>
