<!-- Roles -->
<section id="roles" class="container content-section roles-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Roles</h2>
            <p>Some of the potential roles to be filled.</p>
            {% for org in site.data.organizations %}
              {% if org.tags contains 'Cybersecurity Roles' %}
                <div class="bio">
                  <img src="{{ org.logo }}" alt="{{ org.name }}">
                  <h3 class="bio-header">{{ org.name }}</h3>
                  <p class="bio-text">{{ org.details }}
                    <br>
                    <a href="{{ org.website }}" class="social">Website</a>
                  </p>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
